@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus{
    outline-width: 1px;
    outline-color: yellow;
}

.currency {
    text-align: right;
    padding-right: 4px;
}

.item {
    position: relative;     /* for tooltip */
}

.item>* {
    margin: 2px 1px;
}

.item>.btn_remove {
    margin-right: 3px;
    border-radius: .3em;
}

.item>.btn_remove:disabled {
    opacity: 0.3;
}

.item>.edit {
    background-color: beige;
}

.item>.price {
    width: 3.2em;
}

.item>.qty {
    width: 1.2em;
}

.item>.discount {
    width: 2.8em;
}

.item>.cost {
    width: 3.8em;
}

.item>.detail {
    visibility: hidden;
    position: absolute;
    top: -1.4em;
    right: 1.5em;
    font-size: smaller;
    color: blue;
    background-color: lightyellow;
    padding: 0 5px;
    border: 1px dotted blue;
    border-radius: .5em;
    z-index: 20;
}

.item:first-of-type>.detail{
    top: 1.4em;
  }
  
.item>.cost:hover+.detail:not(:empty) {
    visibility: visible;
}